<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style>
        body         { padding-top:50px; }
        form, pre    { margin-bottom:50px; }
    </style>

    <script src="http://code.angularjs.org/1.2.13/angular.js"></script>
    <script src="app.js"></script>
</head>


<body style="margin-top: 80px;" ng-app="formApp" ng-controller="formController">
        <h1  style="text-align: center; ">We Value Your Feedback</h1>
        <br>
    <div class="container" style="width: 500px;">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <form>
                        <div class="form-group">
                            <label>User Id  </label>
                            <input type="text" class="form-control" readonly name="user" [(ngModel)]="myDetails.userId">
                        </div>   
                    </form>
                    <form #myForm="ngForm"  (ngSubmit)="onSendAway(myForm)">
                        <div class="form-group">
                            <label>Feedback </label>
                            <textarea class="form-control" rows="3" cols="30" name="desc" ngModel></textarea>
                        </div>
                            <button type="submit" class="btn btn-danger">Send Away!</button>
                    </form>    
            </div>
    </div>

</body>
</html>
